body{
  margin: 0;
}
h1{
  margin: 0;
}
.top{
  height: 200px;
  width: 200px;
  background-color: red;
  border: 10px;
  border-style: dotted;
}
.bottom{
  height: 200px;
  width: 200px;
  background-color: blue;
}
